*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}

svg {
  transition: fill 200ms;
  color: rgb(234, 234, 234);
}

a {
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-direction: column;
}

.img__container {
  position: relative;
  cursor: pointer;
}

.img__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.img__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.4s;
}
.img__background::after {
  content: '';
}
.img__title {
  font-size: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.img__container:hover .img__title {
  opacity: 1;
}
.img__container:hover .img__background {
  opacity: 0.5;
}
