@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap');

.info-section {
  position: fixed;
  margin-top: 6em;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3em;
}
.info-title,
.info-text {
  font-family: 'Kalam', cursive;
}

.info-title {
  font-size: 2.2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.circular_image {
  width: 14em;
  height: 14em;
  margin: auto;
  border-radius: 60%;
  overflow: hidden;
}

.circular_image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.socials-container {
  display: flex;
  justify-content: space-between;
  margin: 2em 1em;
  width: 11em;
}

.socials-gmail:hover {
  fill: rgb(209, 72, 54);
}

.socials-linkedin:hover {
  fill: rgb(0, 119, 181);
}

.socials-instagram:hover {
  fill: rgb(240, 96, 144);
}

.socials-behance:hover {
  fill: rgb(255, 147, 0);
}

.info-text {
  font-weight: 300;
  max-width: 85%;
  margin: 1em auto;
  font-size: 1.2em;
}

@media (max-width: 500px) {
  .info-container {
    padding: 1em;
  }
  .info-title {
    font-size: 1.8em;
    letter-spacing: 0px;
  }
  .circular_image {
    width: 10em;
    height: 10em;
  }

  .socials-container svg {
    width: 20px;
    height: auto;
  }
}
