.logo {
  cursor: pointer;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-left: 2%;
  padding-right: 3%;
  background-color: black;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
  font-family: 'Helvetica Neue LT W05_65 Medium', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #ffffff;
  padding: 0px 20px;
}

/* .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 80px;
  min-width: 80px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-left: 2px;
  padding-right: 2px;
  padding: 0px 5px; 
  z-index: 1;
}

.nav-dropdown li a {
  color: #663b3b;
  text-decoration: none;
  display: block;
}

.dropdown:hover .nav-dropdown {
  display: block;
} */

.dropbtn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 490px) {
  .navlinks li {
    padding: 0px 30px;
  }
  .navlinks li a {
    padding: 0px 0px;
  }
}

@media (max-width: 430px) {
  .navlinks li {
    padding: 0px 16px;
  }
  .navlinks li a {
    padding: 0px 2px;
  }
}

@media (max-width: 355px) {
  .navlinks li {
    padding: 0px 6px;
  }
}

.navlinks li a:hover {
  color: #0088a9;
}
